body{
    margin: 0;
    font-size: 1.5vw;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 79, 110);
    height: 9vw;
}

posts{
    display: block;
}

item{
    display: block;
    height: 36vw;
    padding: 1.5vw;
    background-color: #eee;
}
.impar .imagem, .impar .quadrados{
    float: left;
    margin-right: 1.5vw;
}
.par{
    background-color: #ddd;
}
.par .imagem, .par .quadrados{
    float: right;
    margin-left: 1.5vw;
}
.par .texto *{
    text-align: right;
}
.par .texto button{
    float: right;
}

.imagem{
    height: 100%;
    background-color: #fff;
}
.quadrados{
    width: 6.73vw;
}
.quadrados img{
    height: 6.73vw;
    width: 6.73vw;
    margin-bottom: 0.2vw;
    background-color: #FFF;
}

footer{
    background-color: rgb(0, 65, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font: bold 4.5vw Georgia;
    color: #eee;
}

h2{
    font: bold 3vw Georgia;
    color: black;
}

h3{
    font: bold 1.5vw Georgia;
    color: black;
}

h4{
    font: italic 1.5vw Georgia;
    color: black;
}
h5{
    font: normal 1vw Georgia;
    color: #eee;
}

/*
lembrete{
    float: right ou left; diagramação imagem-texto
    clear: right ou left ou both; desfaz o efeito do float de outro sobre ele
    overflow: auto; os elementos com float absorvem o width ou height do parceiro

    display: inline; um elemento dentro de uma linha
    block; um elemento com sua própria linha
    none; o elemento some

    box-sizing: border-box ou padding-box ou content-box;
    //width e height são do elemento+padding+borda
    
    position: absolute ou relative ou fixed;para mover independentemente
    //static desativa
    z-index: 1 ou 2 ou ...; ordena qual camada fica na frente
}


@media screen and (max-width: 600px) {

  }
